* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.menuleft {
   background-color: red;
   position: fixed;
   display: block;
   width: 25%;
   top: 0;
   height: 100%;
}

.header {
   background-color: green;
   position: fixed;
   left: 25%;
   width: 75%;
   height: 60px;
   top: 0;
   z-index: 100;
}

.menuPage {
   background-color: blue;
   left: 25%;
   width: 75%;
   top: 60px; 
   position: absolute;
}